<fa-app style="width: 100%; height: 100%; position: absolute; overflow: hidden" fa-pipe-to="scrollEvents">

  <fa-surface fa-size="[800, 800]">
    <img height="100%" src="https://unsplash.imgix.net/uploads%2F1412238370909393b4a19%2F79f023f1?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=8f4b2375d1644b49d8e5a83dae37a6a6" />
  </fa-surface>

  <fa-modifier>
    <mask fa-size="[300, 300]" content-size="[800, 1200]" fa-rotate-z="0" fa-translate="translate">
      <fa-surface fa-size="[800, 1200]">
        <h1>Students</h1>
        <img height="100%" src="https://unsplash.imgix.net/uploads%2F141223808515744db9995%2F3361b5e1?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=6d3e13567fbb824386e7653410c74887" />
      </fa-surface>
    </mask>
  </fa-modifier>

</fa-app>
