<fa-app style="width: 100%; height: 100%; position: absolute; overflow: hidden">

  <fa-modifier fa-translate="[160, 100, 0]">

    <fa-modifier fa-size="[320, 800]">
      <fa-modifier fa-size="[undefined, undefined]" fa-rotate-z="0.4" fa-origin="[0.5, 0.5]" fa-align="[0.5, 0.5]">


        <fa-surface fa-background-color="'blue'" fa-size="[undefined, undefined]">
          <div style="width: 100%; height: 100%; position: absolute; overflow: hidden;">
            <fa-app style="width: 100%; height: 100%; position: absolute;">
              <fa-modifier fa-rotate-z="-0.4" fa-origin="[0.5, 0.5]">
                <fa-surface>
                  <h1>Students</h1>
                  <img height="100%" src="https://unsplash.imgix.net/uploads%2F141223808515744db9995%2F3361b5e1?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=6d3e13567fbb824386e7653410c74887" />
                </fa-surface>
              </fa-modifier>
            </fa-app>
          </div>
        </fa-surface>

      </fa-modifier>
    </fa-modifier>

    <fa-modifier fa-size="[320, 800]" fa-translate="[320, 0, 0]">
      <fa-modifier fa-size="[undefined, undefined]" fa-rotate-z="0.4" fa-origin="[0.5, 0.5]" fa-align="[0.5, 0.5]">

        <fa-surface fa-background-color="'blue'" fa-size="[undefined, undefined]">
          <div style="width: 100%; height: 100%; position: absolute; overflow: hidden;">
            <fa-app>
              <fa-modifier>
                <fa-surface>
                  <h1>Businesses</h1>
                  <img height="100%" src="https://unsplash.imgix.net/uploads%2F14115409319165441c030%2Fa1d0230a?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=ceaf6a3ec69b55768d4546cb34f3fd7b" />
                </fa-surface>
              </fa-modifier>
            </fa-app>
          </div>
        </fa-surface>
      </fa-modifier>
    </fa-modifier>
  </fa-modifier>

</fa-app>
